$violet-color: #6435c9;
$pink-color: #e03997;
$teal-color: #00b5ad;
$yellow-color: #fbbd08;
$blue-color: #2185d0;
$purple-color: #a333c8;
$olive-color: #b5cc18;
$red-color: #db2828;
$green-color: #21ba45;
$orange-color: #f2711c;
$theme-colors: (
        'violet': $violet-color,
        'pink': $pink-color,
        'teal': $teal-color,
        'yellow': $yellow-color,
        'blue': $blue-color,
        'purple': $purple-color,
        'olive': $olive-color,
        'red': $red-color,
        'green': $green-color,
        'orange': $orange-color
);