<div class="booster-wrapper">
    <h1 class="heading">BOOSTERS</h1>
    <div class="boosters">
        <div class="booster-detail">
            <div class="button">Increase your time with 5 seconds</div>
            <div class="inform">
                <span class="text">5</span>
                <img class="image" src="assets/img/expensive.png">
            </div>
        </div>
        <div class="booster-detail">
            <div class="button">Delete one wrong answer</div>
            <div class="inform">
                <span class="text">10</span>
                <img class="image" src="assets/img/expensive.png">
            </div>
        </div>
    </div>
</div>