<div class="achievement">
    <div class="container">
        <h3 class="heading">ACHIEVEMENT</h3>
        <div class="bums">
            <div class="bum">
                <div class="image">
                    <img src="assets/img/hex.png">
                </div>
                <div class="content">
                    <div class="header">fd fdsa fdsa fdsa fdsa fda fda fdsa</div>
                    <div class="sub-header">fdsafd fda fdsa fdsa fda fdsa fdsa fdsa </div>
                </div>
            </div>
            <div class="bum">
                <div class="image">
                    <img src="assets/img/hex.png">
                </div>
                <div class="content">
                    <div class="header">fd fdsa fdsa fdsa fdsa fda fda fdsa</div>
                    <div class="sub-header">fdsafd fda fdsa fdsa fda fdsa fdsa fdsa </div>
                </div>
            </div>
            <div class="bum">
                <div class="image">
                    <img src="assets/img/hex.png">
                </div>
                <div class="content">
                    <div class="header">fd fdsa fdsa fdsa fdsa fda fda fdsa</div>
                    <div class="sub-header">fdsafd fda fdsa fdsa fda fdsa fdsa fdsa </div>
                </div>
            </div>
            <div class="bum">
                <div class="image">
                    <img src="assets/img/hex.png">
                </div>
                <div class="content">
                    <div class="header">fd fdsa fdsa fdsa fdsa fda fda fdsa</div>
                    <div class="sub-header">fdsafd fda fdsa fdsa fda fdsa fdsa fdsa </div>
                </div>
            </div>
            <div class="bum">
                <div class="image">
                    <img src="assets/img/hex.png">
                </div>
                <div class="content">
                    <div class="header">fd fdsa fdsa fdsa fdsa fda fda fdsa</div>
                    <div class="sub-header">fdsafd fda fdsa fdsa fda fdsa fdsa fdsa </div>
                </div>
            </div>
        </div>
    </div>
</div>