<div class="home-wrapper">
    <div class="masthead">
        <div class="container">
            <h1 class="heading">QUIZLE</h1>
            <h5 class="sub-heading">If you can raed tihs tehn you are qulaiefid to do this qiuz.</h5>
            <a class="btn" [routerLink]="['./chooser']">start quizin</a>
        </div>
    </div>
    <app-game-home-achievements></app-game-home-achievements>
    <div class="app-inform">
        <div class="container">
            <div class="social" *ngFor="let btn of socialBtns">
                <app-game-social  [btn]="btn"></app-game-social>
                <a [href]="btn.href" target="_blank">{{btn.caption}}</a>
            </div>
            <div class="text">
                <h3>CONTACT THE DESIGNER</h3>
            </div>
        </div>
    </div>
</div>